.App {
  text-align: center;
}
#header{
  background-color: rgb(196, 152, 8);
  
}
#subheader{
  color:white;
  h1 {
    color:white
  }
}
#subheader img{
  width: 200px;
}
#logo{
  width: 100px;
}
#body{
  color: white;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  border: 1px white solid;
}