.App {
  text-align: center;
}
#header{
  color: white;
  background-color: rgb(196, 152, 8);
  
}
#subheader{
  color:white;
  
}
#subheader img{
  width: 200px;
}
#logo{
  width: 100px;
}
#body{
  color: white;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#perks{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  border: white 2px solid;
  background-color: rgb(46, 46, 46);
  margin: 10px;
  min-height: 400px;
  justify-content: baseline;
}
