
#category {
    min-height: 120px;
    flex-direction: row;
    display: flex;
    margin: 15px;
}
.categoryLabel{
    background-color: aquamarine;
    height: inherit;
    width:150px;
    border: none;
    text-align: center;
}

.categoryGrid{
    display: grid;
    padding: 10px;
    height: inherit;
    background-color: rgb(46, 46, 46);
    min-width: 500px;
    float: left;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}