.perkImg {
    width: 90px;
    height: auto;
}
.perk{
    width: fit-content;
    height: auto;
    cursor: grab;
}
.tooltip{
    visibility: hidden;
    position: fixed;
    width:200px;
    height: fit-content;
    background-color: rgb(29, 29, 29);
    color: white;
}